$maxWidthContainer: 1150;
$maxWidth: 1440;
$fontFamily: "PTSans";
//========================================================================================================================================================
// color
$yellow: #fff500;
$dark: #2d2d2d;
