// @import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/swiper/swiper-bundle.min";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid red;
}

@import "_vars";
//========================================================================================================================================================
.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}
html {
  height: 100%;
}
body {
  font-size: 16px;
  font-weight: 400;
  font-family: $fontFamily;
  height: 100%;
  &.lock {
    overflow: hidden;
  }
}
//========================================================================================================================================================
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
//========================================================================================================================================================

@import "_mixin";
@import "_fonts";
@import "_ui";
@import "./components/_import";
