<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__column">
        <a href="" class="logo">
          <img class="logo__img" src="img/logo.svg" alt="" />
        </a>
        <div class="footer__social">
          <img class="footer__social-icon" src="img/inst.svg" alt="instagram" />
          <img class="footer__social-icon" src="img/vk.svg" alt="vkontake" />
          <img class="footer__social-icon" src="img/fb.svg" alt="facebook" />
        </div>
      </div>
      <div class="footer__column">
        <h3 class="footer__column-title">Контакты</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="tel:+79234567891">+79234567891</a>
          </li>
          <li class="footer__item">
            <a href="mailto:ipoteka.rf@gmail.com"
              >Еmail: ipoteka.rf@gmail.com</a
            >
          </li>
          <li class="footer__item">
            <a href=""
              >Адрес: Москва,<br />
              ул. Вавилова 20, оф. 9</a
            >
          </li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__column-title">О компании</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="">О нас</a></li>
          <li class="footer__item"><a href="">Отзывы</a></li>
          <li class="footer__item"><a href="">Наша команда</a></li>
        </ul>
      </div>
      <div class="footer__column">
        <h3 class="footer__column-title">Услуги</h3>
        <ul class="footer__list">
          <li class="footer__item"><a href="">Ипотека</a></li>
          <li class="footer__item"><a href="">Подбор квартиры</a></li>
          <li class="footer__item"><a href="">Страхование</a></li>
          <li class="footer__item"><a href="">Оценка</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
