<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--  <meta name="application-name" content="Имя приложения" />
  <meta name="keywords" content="ваши, теги" />
  <meta name="description" content="Описание страницы" />
  <meta name="renderer" content="webkit|ie-comp|ie-stand" />
  <meta property="fb:app_id" content="123456789" />
  <meta property="og:url" content="https://example.com/page.html" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Заголовок содержимого" />
  <meta property="og:image" content="https://example.com/image.jpg" />
  <meta
    property="og:image:alt"
    content="Описание того, что находится на изображении (не подпись)"
  />
  <meta property="og:description" content="Описание" />
  <meta property="og:site_name" content="Название сайта" />
  <meta property="og:locale" content="ru_RU" />
  <meta property="article:author" content="" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@site_account" />
  <meta name="twitter:creator" content="@individual_account" />
  <meta name="twitter:url" content="https://example.com/page.html" />
  <meta name="twitter:title" content="Заголовок контента" />

  <meta
    name="twitter:description"
    content="Описание контента менее 200 символов"
  />
  .
  <meta name="twitter:image" content="https://example.com/image.jpg" />
  .
  <meta
    name="twitter:image:alt"
    content="Текстовое описание изображения, передающее его суть пользователям с ослабленным зрением. Максимум 420 символов."
  />
 -->
  <!-- Добавить на главный экран -->
  <meta name="mobile-web-app-capable" content="yes" />
  <!-- Отключить подсказку перевода -->
  <meta name="google" content="notranslate" />

  <title>@@title</title>
  <link rel="stylesheet" href="./css/style.min.css" />
</head>
