.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  color: #fff;
  padding: 35px 0;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  @media (max-width: 762px) {
    background: rgb(255 255 255 / 0.5);
    backdrop-filter: blur(20px);
  }
  @include adaptiv-value("font-size", 20, 16, 1);
  @include adaptiv-value("padding-top", 35, 20, 1);
  @include adaptiv-value("padding-bottom", 35, 20, 1);

  color: #ffffff;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
  }
  &__phone {
    text-decoration: none;
    color: inherit;

    line-height: 23px;
  }
}
.container {
}
.logo {
}
.menu {
  @media (min-width: 768px) {
    &__icon {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__icon {
      position: relative;
      width: 50px;
      height: 50px;
      border: 0;
      outline: 0;
      padding: 10px;
      background: transparent;
      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        left: 10px;
        height: 3px;
        background: #fff;
      }
      &::before {
        top: 15px;
      }

      &::after {
        bottom: 15px;
      }
      span {
        display: block;
        width: 100%;
        height: 3px;
        background: #fff;
      }
    }
  }
  &__body {
  }

  @media (max-width: 768px) {
    &--active {
      .menu__list {
        display: flex;
        font-size: 2.5em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        min-height: 50%;
        overflow: auto;
        li {
          width: 100%;
        }
        a {
          width: 100%;
          display: inline-block;
          &::before {
            content: "";
            display: none;
          }
        }
      }
      .menu__body {
        padding: 20px 0;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(0 0 0 / 0.8);
        z-index: 56;
        overflow: hidden;
        backdrop-filter: blur(20px);
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    color: #fff;
    @include adaptiv-value("gap", 95, 20, 1);
    @media (max-width: 762px) {
      display: none;
    }
  }
  li {
    list-style-type: none;
  }
  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 3px;
      background: $yellow;
      border-radius: 100px;
      transform: scale(0);
      transition: transform 0.3s ease 0s;
    }
    &--active {
      &::before {
        transform: scale(1);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }
  }
}
